In [2]:
import pandas as pd
import pickle
import os

In [3]:
dpath = 'data'

In [17]:
trainset = pd.read_csv(os.path.join(dpath, 'train.txt'), sep=' ', header=None, names=['uid', 'mid', 'rating'])

In [18]:
trainset

       uid  mid  rating
0        1    1       5
1        1    2       3
2        1    4       3
3        1    5       3
4        1    6       5
...    ...  ...     ...
15996  200  924       5
15997  200  929       4
15998  200  951       5
15999  200  982       2
16000  200  984       3

[16001 rows x 3 columns]